@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  gap: 24px;
  height: 44px;
  background-color: rgba(245, 245, 247, 0.8);
}
html {
  background-color: #f5f5f7;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

header nav ul li {
  padding: 0 8px;
  font-weight: 400;
  font-size: 12px;
}
.ribbon-center {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  gap: 4px;
  padding-top: 52px;
}
.gradient-header {
  width: 100%;
  /* height: 100%; */
}
.store-container {
  display: flex;
  padding: 80px 140px;
  align-items: center;
  justify-content: space-between;
}
.store-header {
  column-gap: 32px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rainbow-text {
  font-size: 44px;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
}
.store-subtitle {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
}
.store-support {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}
.support-item {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
}
.support-icon {
  width: 35px;
  height: 35px;
}
.support-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}
.link {
  font-size: 14px;
  font-weight: 500;
  color: #0066cc;
}
.products-cards {
  display: flex;
  margin-bottom: 60px;
  padding-inline: 140px;
}
.product {
  padding: 16px 8px;
}
.product-image {
  width: 120px;
  height: 78px;
}
.product-title {
  font-size: 14px;
  margin-top: 18px;
  font-weight: 700;
  text-align: center;
}
.section-header {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-top: 20px;
}
.store-section-title {
  font-size: 24px;
  font-weight: 700;
}
.store-section-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
}
.inner-products-cards {
  width: 100vw;
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-inline: 20px;
  scroll-padding-left: 140px;
}
.latest-product-card {
  width: 400px;
  height: 500px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  padding: 30px;
  border-radius: 18px;
  flex-direction: column;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background: center / cover no-repeat;
}
.text-white {
  color: white;
}
.product-name {
  font-size: 26px;
  font-weight: 700;
}
.item1 {
  background-image: url("./mobile/latest.jpeg/1\ \(1\).jpeg");
}
.item2 {
  background-image: url("./mobile/latest.jpeg/2.jpeg");
}
.item3 {
  background-image: url("./mobile/latest.jpeg/3.jpeg");
}
.item4 {
  background-image: url("./mobile/latest.jpeg/4.jpeg");
}
.item5 {
  background-image: url("./mobile/latest.jpeg/5.jpeg");
}
.item6 {
  background-image: url("./mobile/latest.jpeg/6.jpeg");
}
.item7 {
  background-image: url("./mobile/latest.jpeg/7.jpeg");
}
.item8 {
  background-image: url("./mobile/latest.jpeg/8.jpeg");
}
.item9 {
  background-image: url("./mobile/latest.jpeg/9.jpeg");
}
.item10 {
  background-image: url("./mobile/latest.jpeg/10.jpeg");
}
.item11 {
  background-image: url("./mobile/latest.jpeg/11.jpeg");
}
.second-information {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding-inline: 20px;
}
.sec-info {
  position: relative;
}
.sec-info img {
  width: 480px;
  height: 500px;
  border-radius: 18px;
}

.content-info {
  position: absolute;
  top: 10%;
  padding-left: 20px;
}
.header-eyebrow {
  color: #6e6e73;
  font-size: 12px;
}
.header-content {
  font-size: 28px;
}
.header-content-text {
  font-size: 17px;
  font-weight: 400px;
}
.card-content {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding-inline: 20px;
}
.card-content-full {
  /* min-width: 355px; */
  width: 355px;
  height: 240px;
  border-radius: 18px;
  background-color: white;
  flex-shrink: 0;
}
.card-content-icon {
  width: 49px;
  height: 56px;
  padding-left: 10px;
}
.card-content-icon img {
  width: 60px;
  height: 45px;
  margin-top: 10px;
}
.colorful-text {
  font-size: 24px;
  padding-left: 10px;
}
.green-text {
  color: green;
}
.blue-text {
  color: #0066cc;
}
.purple-text {
  color: #ba62fc;
}
.card-content-icon-purple {
  width: 56px;
  height: 56px;
}
.rainbow-text-little {
  font-size: 24px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
}
.accessories-general {
  /* width: 100vw; */
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding-inline: 20px;
}
.accessories-content-pink1 {
  position: relative;
  border-radius: 18px;
}
.accessories-content-pink1 img {
  width: 400px;
  height: 500px;
  border-radius: 18px;
}
.accessories-info {
  position: absolute;
  top: 10%;
  padding-left: 20px;
}
.accessories-content {
  position: relative;
  width: 313px;
  height: 500px;
  background-color: white;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  flex-shrink: 0;
}
.accessories-content img {
  width: 230px;
  height: 230px;
  display: flex;
  margin: 0 auto;
}
.accessories-big {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.peonycolor img {
  width: 12px;
  height: 12px;
  margin-top: 20px;
}
.peony {
  gap: 5px;
}
.orange-new {
  color: #b64400;
  font-size: 12px;
}
.peonycolor-size {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.plus {
  font-size: 12px;
  margin-top: 19px;
}
.accessories-text {
  font-size: 17px;
}
.accessories-price {
  font-size: 14px;
}
.loud-general {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding-inline: 20px;
}
.header-content-text {
  font-size: 17px;
  font-weight: 400px;
}
.eyebrow-rainbow {
  font-size: 28px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
}
.last-square {
  position: relative;
}
.last-square img {
  width: 400px;
  height: 500px;
  border-radius: 18px;
}
.header-content-white {
  font-size: 28px;
  color: white;
}
.buttons {
  background-color: #0000;
  color: black;
  border-radius: 999px;
  border-color: #1d1d1f;
  height: 40px;
  width: 123px;
  text-align: center;
}
.quick-buttons:hover {
  opacity: 60%;
  transition: 0.2s;
}
.button-list {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 16px;
  list-style-type: none;
}
.quick-links-title {
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
}
/* position html hna bairlahiig herhen bairlahiig shiidne css iin property
5 turliih bn. 
1. static- default oor bairlana
2.relative-gj uguud hudulguj bolno.top,left,right ,bottom ig ashiglana.
3. absolute- neg elementiin dr bairlana naashaa garch irne. relative tai hamt ashiglana
4.fixed-bairlah scrolldhooor
5..sticky-scrolddwol hamtda ywna

z-index: 3 element blaa gehed ali element naashaa garhiig ni z-index eer gargana'
z-index iig - (hasahruu ashiglaj bolno - gewel tsaashaa
website-deployment

*/
.footNotes {
  font-size: 12px;
  color: #0000008f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 22px;
}
.footerNavbar {
  font-size: 12px;
  color: #000000b8;
  border-color: #00000029;
}
